.register-card {
    border-radius: 15px;
    /* background: rgb(230, 242, 247); */
  }
  
  .register-card h2 {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .btn-primary {
    background-color: transparent !important;
    border: none;
    transition: background-color 0.3s;
    color: black !important;
    font-weight: 600 !important;
    border: 3px solid lightblue !important;
  }
  
  .btn-primary:hover {
    background-color: #2980b9;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  /* .shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  } */


  .animationimage{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-page {
    background:  url('../../public/images/register.avif') no-repeat center center fixed; /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the viewport */
    min-height: 100vh; /* Ensures the background covers the full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-page .container {
    /* background-color: white;  */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
  }

  .form-control{
    background: transparent !important;
    border: 1px solid lightblue !important;

  }

  
  